name: CI

on:
  merge_group:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        # os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v3

      - name: Remove cargo config for incremental builds (Linux & macOS)
        run: rm -f .cargo/config.toml
        if: runner.os != 'windows'

      - name: Remove cargo config for incremental builds (Windows)
        run: Remove-Item .cargo\config.toml -Force -ErrorAction SilentlyContinue
        if: runner.os == 'windows'

      - uses: dtolnay/rust-toolchain@nightly

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends g++ pkg-config libx11-dev libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        if: runner.os == 'linux'

      - name: Cache rust modules
        uses: Swatinem/rust-cache@v2.7.0
        with:
          cache-on-failure: true
          shared-key: ${{matrix.os}}-build

      - name: Build tests
        run: cargo test --features blobs --no-run

      - name: Run tests
        run: cargo test --features blobs

      - name: Build all examples
        run: ./build-examples.sh

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Remove cargo config for incremental builds
        run: rm -f .cargo/config.toml

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Remove cargo config for incremental builds
        run: rm -f .cargo/config.toml

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy

      - name: Cache rust modules
        uses: Swatinem/rust-cache@v2.7.0
        with:
          cache-on-failure: true
          shared-key: ubuntu-build

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends g++ pkg-config libx11-dev libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        if: runner.os == 'linux'

      - run: cargo clippy --features wayland

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Remove cargo config for incremental builds
        run: rm -f .cargo/config.toml

      - uses: dtolnay/rust-toolchain@nightly

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends g++ pkg-config libx11-dev libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        if: runner.os == 'linux'

      - name: doc
        run: cargo doc --no-deps --features wayland
        env:
          RUSTDOCFLAGS: -Dwarnings

  cargo-machete:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "Install cargo-machete"
        uses: baptiste0928/cargo-install@v2
        with:
          crate: cargo-machete
          version: "0.6.0"

      - name: "Use machete to cut down dependencies"
        run: cargo machete
